/* display: flex; */

/* flex-flow: خاصة بالآباء
flex-flow تجمع ما بين الخاصيتين 
flex-direction (وقيمها هي row , column row-reverse column-reverse)
flex-wrap (قيمها هي wrap no-wrap wrap-reverse)
*/

/* align-items: خاصة بالآباء
flex-start/baseline: تقوم بمحاذات أعلى نقطة من كل عنصر عند بداية المحور الجانبي. 
flex-end: تقوم بمحاذات نهاية كل عنصر عند نهاية المحور الجانبي. 
center: تقوم بمحاذات منتصف كل العناصر مع منتصف المحور الجانبي. 
stretch: تقوم بجعل العناصر تتمدد حتى تملأ مساحة كامل المحور الجانبي.

align-self:  خاص بالأبناء
     (align-items)تستطيع تطبيقها على العناصر وتملك نفس القيم، وسوف تتخطى أيّ قيمة حددتها في 
*/

/* justify-content: خاصة بالآباء
                    لا يكون لهذه الخاصية أيّ تأثير إذا كان مجموع أطوال العناصر + المارجين يساوي طول العنصر*/
/*                    
flex-start: تقوم بصف كامل العناصر في بداية المحور مع ترك المساحة الفارغة في النهاية. 
flex-end: تقوم بصف كامل العناصر في نهاية المحور مع ترك المساحة الفارغة في البداية. 
center: تقوم بصف العناصر في منتصف المحور، مع ترك مساحة متساوية على يمين وعلى يسار العناصر. 
space-between: تقوم بحساب كامل المساحة الفارغة، ثم تقوم بتوزيعها بين العناصر. 
space-around: تقوم أيضا بحساب كامل المساحة الفارغة وتقوم بتوزيعها بين العناصر، ولكن تقوم أيضا بتوزيع المساحة قبل أول عنصر وبعد آخر عنصر.
*/

/* flex: تأخذ 3 خواص وهي خاصة بالأبناء
flex grow factor:إذا قمنا بتحديد 1 لكل العناصر، فسيأخذون نفس المساحة، وإذا حدننا لأحدهم 2 فسوف يأخذ ضعف المساحة لبقية العناصر
flex-basis ( row عرض في حال / column ارتفاع في حال) تعني الطول الذي سيأخذه كل عنصر 
grow factor  المساحة الفارغة الباقية في الحاوي يتم توزيعها اعتمادا على معامل التضخم 
flex shrink factor معامل التقلص هو أيضا بلا وحدة، ويعمل عكس معامل التضخم، ويكون للقيم تأثير عندما يتجاوز مجموع أطوال العناصر طول الحاوي والهدف منه هو تحديد القيمة التي سيصغر بها كل عنصر

خاصية flex هي اختصار للقيم التالية على الترتيب:
flex-grow 
flex-shrink 
flex-basis 
flex: 2 0 200px;

flex: auto;
flex: 1 1 auto يتمدد العنصر إن كان هناك مساحة فارغة إضافية، ويتقلص إن لم تكفي المساحة
flex: initial;
flex: 0 1 auto العناصر لا تتمدد في حال وجود مساحة فراغة ولكنها تتقلص عند الحاجة.
*/

.container {
    display: flex;
    flex-flow: row nowrap; /* لجعل العناصر في صف واحد لا يتعدا لغيرة مهما كانت المساحة */
    align-items: stretch; /* للمحاذات على المحور الجانبي */
    justify-content: center; /* تحدد كيف يجب أن تتم محاذات العناصر على المحور الرئيسي */
}

.child {
    align-self: center; /* للمحاذات على المحور الجانبي لعنصر واحد فقط*/
    flex: initial;
    flex: auto;
}